h2 {
  color: #D9AFA5;
  text-align: center;
}

form {
    width: 100%;
    max-width: 600px; 
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between; 
  }
  
  /* Estilos para los elementos del formulario */
  
  form div {
    width: 45%; 
    margin-bottom: 20px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  form button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #D9AFA5;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  form button[type="submit"]:hover {
      margin-top: 10px;
      background: radial-gradient(circle,#D9AFA5,#9a716c);
      border: none;
      border-radius: 20px;
      color: white;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      transition: background 0.3s ease-in-out;
  }