.editButton{
    margin-top: 10px;
    margin-right: 10px;
    //background: radial-gradient(circle,#81b350, #fdd396);
    border: none;
    border-radius: 20px;
    color: #04a9ad;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }

  .deleteButton{
    margin-top: 1px;
    //background: radial-gradient(circle,#ee424e,#ffffff);
    border: none;
    border-radius: 20px;
    color: #ee424e;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }

  .createUser{
      margin-top: 10px;
      margin-right: 10px;
      //background: radial-gradient(circle,#81b350, #04a9ad);
      border: none;
      border-radius: 20px;
      color: #ee424e;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      transition: background 0.3s ease-in-out;
  }
  